:root {
  --bg: #e1e4f0;
  --purple-bg: #9da6cd;
  --dark-bg: #615aaa;
}

body {
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
  /* font-weight: 700; */
}

.container-fluid {
  width: calc(100% - 10vh);
  padding: 3rem 0;
}

.box {
  display: flex;
}

.content-header {
  text-align: center;
}

.bio {
  margin: 1rem;
}

.link-chart-container {
  width: 100%;
  margin: auto;
}

.link-chart {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  background-color: var(--bg);
}

.link-subsection {
  padding: 1rem;
  width: 100%;
  text-align: center;
  margin: 0.5rem 0;
}

.link-collection {
  display: flex;
  flex-direction: column;
}

.link-header {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

.link {
  font-size: 1.2rem;
}

.link-header, .link {
  margin: 0;
  padding: 0.5rem;
  color: var(--dark-bg);
}

.link:hover {
  background-color: var(--purple-bg);
  color: var(--dark-bg);
  border-radius: 1rem;
  text-decoration: underline;
}

.space {
  height: 10vh;
  bottom: 5px;
}

/* DESKTOP STYLES: GENERAL */
@media (min-width: 768px) {
  #me {
    width: 20rem;
  }
  nav {
    height: 5vh;
    margin: 0.5rem;
    border-radius: 10px;
  }
  .box {
    flex-direction: column;
  }
  .container-fluid {
    margin-top: 5vh;
  }
  .link-chart {
    flex-direction: row;
  }
  .link-subsection {
    border-right: 2px rgba(255, 255, 255, 0.75) solid;
  }
}

/* HUGE DISPLAY STYLES */
@media (min-width: 1500px) {
  #me {
    width: 30rem;
  }
  .box {
    flex-direction: row;
  }
  .container-fluid {
    margin-top: calc(5vh - 2rem);
  }
  .link-chart {
    margin: 0 2rem;
    position: relative;
  }
}

/* MOBILE STYLES */
@media (max-width: 767px) {
  #me {
    width: 85%;
  }
  nav {
    height: 6vh;
    margin: 0;
    border-radius: 0 0 1rem 1rem;
  }
  .navbar-light .navbar-nav .nav-link {
    background-color: rgba(255, 255, 255, 0.75);
  }
  .box {
    flex-direction: column;
  }
  .container-fluid{
    margin-top: 6vh;
  }
  .link-chart {
    flex-direction: column;
    padding: 0px 1rem;
  }
  .link-subsection {
    margin: 0;
    border-bottom: 3px rgba(255, 255, 255, 0.75) solid;
  }
}

section {
  padding: 1em 0 2em 0;
  /* border-bottom: 2px #c4a3ff solid; */
}

h1 {
  font-weight: 600;
  color: var(--purple-bg);
  text-align: center;
  padding: 0;
  font-size: 2rem;
}

h3 {
  font-size: 1.5em;
  padding: 1em;
  color: #007df3;
}

p {
  color: var(--dark-bg);
  padding: 0.5em;
  margin: 1em auto;
}

#navigator {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75)
}

.navbar-toggler {
  border: none;
  padding: 0;
  font-size: 1em;
}

.navbar-light .navbar-nav .nav-link {
  text-align: left;
  color: var(--purple-bg);
}

.bg-pink, .bg-purple {
  border-radius: 10px;
  padding: 1em;
}

.bg-pink {
  background-color: #ffdfff;
}

.bg-purple {
  background-color: #f0dfff;
}

.italicize {
  font-style: italic;
}